@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=DM+Serif+Display&display=swap');

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'DM Serif Display', serif;
*/
html {    
    height: 100%;
    width: 100%;
    background: linear-gradient(#fdfcfb 25%, #e2d1c3 100%);
}

body {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    color: black;
    /*-webkit-text-stroke: 1px white;*/
}

#AboutMe {
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
}

#info {
    font-size: 20px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

